<p>One Pizza</p>

<p>First Name: <%= @pizza_order.first_name %></p>
<p>Last Name: <%= @pizza_order.last_name %></p>
<p>Topping: <%= @pizza_order.topping %></p>
<p>Quantity: <%= @pizza_order.quantity %></p>
